<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="rutaPfxDca" value="C:\CFDIs\pfx\pfx\drx\dca040909263.pfx" />
    <add key="rutaPfxCan" value="C:\CFDIs\pfx\pfx\Canels\CAN830210LE8.pfx" />
    <add key="rutaPfxDpa" value="C:\CFDIs\pfx\dpa060116fh3.pfx" />
    <add key="RFCDca" value="DCA040909263" />
    <add key="RFCCan" value="CAN830210LE8" />
    <add key="RFCDpa" value="DPA060116FH3" />
    <add key="psw" value="Tangamanga1#" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>